[package]
name = "vaporetto"
version = "0.3.0"
edition = "2021"
authors = ["Koichi Akabe <vbkaisetsu@gmail.com>"]
description = "Vaporetto: a pointwise prediction based tokenizer"
license = "MIT OR Apache-2.0"
homepage = "https://github.com/daac-tools/vaporetto"
repository = "https://github.com/daac-tools/vaporetto"
readme = "README.md"
keywords = ["japanese", "analyzer", "tokenizer", "morphological"]
categories = ["text-processing"]

[dependencies]
bincode = { version = "2.0.0-rc.1", default-features = false, features = ["alloc", "derive"] }  # MIT
daachorse = { version = "0.4.1", default-features = false }  # MIT or Apache-2.0

liblinear = { version = "1", optional = true }  # MIT

[features]
default = ["std", "cache-type-score", "fix-weight-length", "tag-prediction"]

# default: on
std = ["bincode/std", "daachorse/std"]
cache-type-score = []
fix-weight-length = []
tag-prediction = ["bincode/atomic"]

kytea = ["std"]
train = ["std", "liblinear"]
portable-simd = ["fix-weight-length"]
charwise-daachorse = []

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
