[package]
name = "vaporetto"
version = "0.1.1"
edition = "2018"
authors = ["Koichi Akabe <vbkaisetsu@gmail.com>"]
description = "Vaporetto: a pointwise prediction based tokenizer"
license = "MIT OR Apache-2.0"
homepage = "https://github.com/legalforce-research/vaporetto"
repository = "https://github.com/legalforce-research/vaporetto"
readme = "README.md"
keywords = ["japanese", "analyzer", "tokenizer", "morphological"]
categories = ["text-processing"]
autotests = false

[dependencies]
anyhow = "1.0"  # MIT OR Apache-2.0
byteorder = "1.4"  # Unlicense OR MIT
fst = "0.4"  # Unlicense OR MIT

crossbeam-channel = { version = "0.5", optional = true }  # MIT OR Apache-2.0
liblinear = { version = "1", optional = true }  # MIT

[features]
default = ["model-quantize"]
model-quantize = []
multithreading = ["crossbeam-channel"]
train = ["liblinear"]
kytea = []

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
