[package]
name = "vaporetto"
version = "0.2.0"
edition = "2018"
authors = ["Koichi Akabe <vbkaisetsu@gmail.com>"]
description = "Vaporetto: a pointwise prediction based tokenizer"
license = "MIT OR Apache-2.0"
homepage = "https://github.com/legalforce-research/vaporetto"
repository = "https://github.com/legalforce-research/vaporetto"
readme = "README.md"
keywords = ["japanese", "analyzer", "tokenizer", "morphological"]
categories = ["text-processing"]
autotests = false

[dependencies]
anyhow = "1.0"  # MIT or Apache-2.0
bincode = "1.3.3"  # MIT
daachorse = "0.2.0"  # MIT or Apache-2.0
serde = { version = "1.0", features = ["derive"] }  # MIT or Apache-2.0

byteorder = { version = "1.4", optional = true }  # Unlicense or MIT
liblinear = { version = "1", optional = true }  # MIT

[features]
default = ["model-quantize"]
kytea = ["byteorder"]
model-quantize = []
train = ["liblinear"]
simd = []

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
