[submodule "bench/kytea"]
	path = bench/kytea
	url = https://github.com/neubig/kytea.git
[submodule "bench/lindera"]
	path = bench/lindera
	url = https://github.com/lindera-morphology/lindera.git
[submodule "bench/mecab"]
	path = bench/mecab
	url = https://github.com/taku910/mecab.git
[submodule "bench/sudachi.rs"]
	path = bench/sudachi.rs
	url = https://github.com/WorksApplications/sudachi.rs.git
