body {
    margin: 0;
    background-color: #f7f8f8;
}

header {
    font-family: sans-serif;
    font-size: 16pt;
    padding: 10px;
    background-color: #78808c;
    color: #ffffff;
}

#content {
    display: flex;
    flex-flow: row wrap;
    font-family: monospace;
    margin: 10px;
}

#sourcearea {
    flex: 1 auto;
    flex-grow: 1;
    flex-basis: calc(50% - 2em);;
    min-width: 30em;
    height: 300px;
    padding: 10px;
}

#targetarea {
    flex: 1 auto;
    flex-grow: 1;
    flex-basis: calc(50% - 2em);;
    min-width: 30em;
    height: 300px;
    padding: 10px;
}

#input_text {
    width: 100%;
    height: 100%;
    font-size: 12pt;
    resize: none;
    margin: 0;
    padding: 0;
    border: 1px solid #000000;
    font-family: inherit;
    background-color: #ffffff;
}

#tokenized {
    width: 100%;
    height: 100%;
    white-space: pre-wrap;
    margin: 0;
    font-size: 12pt;
    border: 1px solid #000000;
    overflow-y: scroll;
    background-color: #ffffff;
}

#loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}
